<style>

@media screen and (max-width: 480px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .footer a {
    float: none;
    width: 100%;
  }
}

* {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

.bg-div {
  overflow: hidden;
  color: white
}

body {
  margin: 30px;
  background-color: #7ED321;
}

.logo {
margin: 30px;
width: 20%;
}

.table {
  font-family: arial, sans-serif;
  color: white;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 2px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #7ED321;
}

.bg-div {
  color: white
  overflow: hidden;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  font-family: 'Ubuntu', Helvetica, sans-serif;
  color: white;
  float: right;
  padding: 30px
}

h1 {
  font-family: 'Ubuntu', Helvetica, sans-serif;
  color: white;
}

h2 {
  font-family: 'Ubuntu', Helvetica, sans-serif;
  color: white;
}

h3 {
  font-family: 'Ubuntu', Helvetica, sans-serif;
  color: white;
}

h4 {
  font-family: 'Ubuntu', Helvetica, sans-serif;
  color: white;
}

h5 {
  font-family: 'Ubuntu', Helvetica, sans-serif;
  color: white;
}

h6 {
  font-family: 'Ubuntu', Helvetica, sans-serif;
  color: #919EAB;
}

p {
  font-family: 'Ubuntu', Helvetica, sans-serif;
  color: white;
}

form {
  font-family: 'Ubuntu', Helvetica, sans-serif;
  color: white;
}

.services

</style>
